body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

nav {
  background: #333;
  padding: 15px;
}

nav a {
  color: linen;
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
}

section {
  margin: 20px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

table,
th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
button {
  margin: 10px;
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: #333;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #555;
}
